.speech{
    background-color:rgb(29, 28, 36);
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: black;
}

.stageDirections{
    background-color: cyan;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
}

.name{
    background-color:rgb(74, 226, 43);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color-adjust: black;
}

.hover:hover{
    background-color: rgb(199, 172, 146);
    color: white;
}

.alice{
    color: rgb(207, 29, 127);
}

.lady_hunstanton{
    color: rgb(170, 6, 192);
}

.gerald{
    color: rgb(157, 189, 16);
}

.mrs_allonby{
    color:red;
}